@font-face{
    font-family: 'Roboto';
    src: url('../media/fonts/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../media/fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'HelveticaNeue';
    src: url('../media/fonts/HelveticaNeue.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'HelveticaNeue';
    src: url('../media/fonts/HelveticaNeueItalic.ttf');
    font-weight: 400;
    font-style: italic;
}