@import "reset.css";
@import "fonts.css";

/*----general----*/
* {
    box-sizing: border-box;
}

body {
    font: 14px "Roboto", Verdana, sans-serif;
    background-color: #f3f3f3;
    overflow-x: hidden;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-vertical-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-item, .promoted, .video-item {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
}

/*----header----*/
.header {
    background-color: #000;
    color: #fff;
    font: 11pt 'Roboto', sans-serif;
    font-weight: 500;
    position: relative;
}

.header > .flex-vertical-center {
    align-items: center;
    justify-content: space-between;
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
    height: 90px;
}

.logo {
    background: url('../media/images/icons/logo.png') no-repeat;
    width: 55px;
    height: 51px;
    margin-right: 55px;
}

.header [type="checkbox"] {
    display: none;
}

.nav-container {
    height: 85px;
    margin-top: 5px;
}

.nav-container .nav-item {
    margin: 20px 13px 0;
    color: #969696;
    border-bottom: 4px solid transparent;
}

.nav-container .nav-item.active-nav-item {
    border-bottom-color: #fff;
    color: #fff;
}

.nav-item a {
    display: block;
    color: inherit;
    height: 99%;
    padding: 20px 20px 0;
    text-transform: uppercase;
}

.nav-item:hover {
    color: #fff;
    border-bottom-color: #fff;
}

.dropdown-item {
    position: relative;
    padding: 0 13px;
    border-radius: 4px 4px 0 0;
}

.dropdown-item:before {
    content: "";
    width: 0;
    height: 0;
    right: 8px;
    top: 27px;
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #b9b9b9 transparent transparent transparent;
}

.dropdown-item .nav-sub {
    display: none;
    position: absolute;
    top: 61px;
    left: 0;
    z-index: 10;
    width: 100%;
    border-radius: 0 0 4px 4px;
    box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.5);
}

.nav-sub li:hover {
    background: #eee;   
}

.nav-sub li:last-child{
    margin-bottom: 5px;
}

.dropdown-item .nav-sub a {
    text-transform: capitalize;
    font-size: 12px;
    padding: 10px 20px;
}

.dropdown-item:hover .nav-sub, .dropdown-item:hover {
    display: block;
    background: #fafafa;
}

.dropdown-item:hover a, .nav-sub a {
    color: #444;
}

#search-button {
    cursor: pointer;
}

#search-button::after {
    content: url('../media/images/icons/icon_search.png');
    width: 20px;
    height: 20px;
}

.signin-container {
    margin-top: 13px;
    text-transform: capitalize;
}


@media screen and (max-width: 500px) {
    #signin-link {
        display: none;
    }

    .nav-container {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 20px;
        top: 80px;
    }

    .nav-container .nav-item, .nav-sub-item {
        z-index: 100;
        background: #000;
        margin: 0;
        padding: 0 10px 0 0;
        border: none;
        border-radius: 0;
    }

    .nav-item:last-child {
        padding-bottom: 15px;
        border-radius: 0 0 2px 2px;
    }

    .nav-item:last-child a {
        padding: 0 15px;
    }

    .nav-container .nav-item.active-nav-item {
        color: #969696;
    }

    .dropdown-item .nav-sub {
        display: block;
        position: relative;
        top: 0;
        left: 10px;
        border-radius: 0;
    }

    #burger-button {
        display: block;
        margin-left: 20px;
    }

    #burger-toggle:checked + .nav-container {
        display: flex;
    }

    main.articles-container {
        padding: 0 20px 75px 20px
    }

    h1.promoted-capture {
        font-size: 26px;
    }

    .footer nav {
        display: none;
    }

    .copyright {
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .navigation .nav-item:first-child {
        display: none;
    }

    .logo {
        margin-right: 5px;
    }
}

/*----videos main section----*/
.videos-main {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px 75px 20px;
}


/*--promoted styles--*/
.videos-main .promoted-image {
    width: 100%;
}

.promoted {
    margin: 40px 0;
}

.promoted-image-container {
    position: relative;
}

.promoted-desctiption {
    margin: 20px 0 0 32px;
    width: 65%;
}

.promoted-capture {
    font-size: 36px;
    font-weight: 500;
    margin: 22px 0 16px;
    line-height: 1.15;
}

.promoted-link {
    display: inline-block;
    font: 18px "HelveticaNeue", sans-serif;
    color: #000;
    margin: 4px 0 40px;
}

.button-play {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    position: absolute;
    bottom: -29px;
    right: 10px;
    background: url('../media/images/icons/play_button_icon.png') no-repeat #2196f3 26px;
}

.button-play:hover {
    background-color: #126fba;
}

    /**---videos gallery---*/
.videos-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-item {
    width: 32.5%;
    margin: 0 -6px 13px 0;
}

.video-description {
    margin: 16px 20px 14px 13px
}

.video-capture {
    font-family: "HelveticaNeue", sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

.video-link {
    font-size: 16px;
    color: #4d4d4d;
}

.video-item img {
    width: 100%;
    height: auto;
}

/*----articles main section----*/
.articles-container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 120px 75px 120px;
}

.article-item {
    margin-top: 40px;
}

.article-author {
    padding: 13px 0 0 30px;
    height: 85px;
    align-items: center;
}

.article-author img {
    border-radius: 50%;
    object-fit: none;
    width: 40px;
    height: 40px;
}

.article-author figcaption {
    margin-left: 15px;
}

.author-name {
    color: #000;
    margin-top: -3px;
    margin-bottom: 8px;
    font-size: 16px;
}

.article-date {
    color: #999;
    margin: 0;
}

.article-cover {
    width: 100%;
    height: auto;
}

.article-caption {
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
    margin-top: 22px;
}

.article-content {
    padding: 0 30px 50px;
}

.article-preview {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 18px;
    line-height: 32px;
    padding-right: 40px;
}

.article-show-more {
    background: #2196f3;
    color: #fff;
    display: block;
    width: 110px;
    padding: 10px 0;
    margin: 36px 0 0;
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

/*----pagination----*/
.pagination {
    height: 96px;
    max-width: 1200px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background: #2196f3;
    color: #fff;
}

.pagination-item {
    margin-top: 13px;
    font-weight: 500;
    font-size: 19px;
}

#pagination-left {
    margin-right: 15px;
}

#pagination-right {
    margin-left: 15px;
}

/*----footer----*/
.footer-container {
    max-width: 1200px;
    height: 100%;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

footer {
    background: #fff;
    color: #999;
    height: 90px;
}

.footer-link {
    margin: 0 15px;
}

.footer-link:first-child {
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .video-item {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .video-item {
        width: 100%;
    }
}